body {
    background-image: url('https://s15.postimg.cc/rzmhuaxzv/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
}

.container {
    background-color: #fec04d;
    margin-top: 70px;
    border-radius: 25px;
}


#title {
    margin: 30px 0px 0px 0px;
    text-align:center;
    font-size: 4rem;
    color: white;
}

#description {
    text-align: center;
    padding: 15px; 
}

.button-custom {
    background-color: #DB1B18;
    color: white;
    
}


/* Media Queries */ 

@media(min-width:768px) {
   
.survey-form-element {
    display: flex;
    padding: 10px;    
 
}

.survey-form-element label {
    padding-right: 10px;
    
}    
    
#email {
    margin-left: 3px;  
}

    
#number {
    margin-left: 16px;   
}
    

#dropdown {      
    margin-top: -7px;
    margin-left: 10px;
    
    }
    

.check-custom {
    margin-left: 1px;
    font-size: 16px;
    }
    
    
#select-element {    
    width:128px;
    height: 35px;
    margin-top: -7px;
    margin-left: 10px;
    }

    
.button-custom {
    padding: 15px;
    margin: 10px 10px 20px; 10px;
        
    }
    
}



@media (min-width: 480px) {
    
    
    .survey-form-element {
        margin-top: 5px;
    }
        
    
    #dropdown {
        margin-bottom: 15px;
    }
    
    #select-element {
       margin-bottom: 15px; 
    }
    
    .button-custom {
       margin: 15px;
    }
    
    .container {
        margin-bottom: 50px;
    }
    
    
}
